body {
  font-family: sans-serif;
}
#titleheader { margin-bottom:0; }
.trlmLink {
  width: fit-content;
  flex-basis: 50%;
  color: -webkit-link;
}
.trlmLink::marker {
  content: ">";
}
.trlmLink > a {
  text-decoration: none;
}
.trlmLink > a:hover {
  text-decoration: underline;
}
#links {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
}