.diary-entry {
  display: flex;
  flex-direction: column;
  background-color: var(--overlay);
  color: var(--bg);
  width: 100%;
  padding: 1rem;
}
.diary-entry-title {
  font-size: x-large;
  font-weight: bold;
}
.diary-entry-summary {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}
