.diary-entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.diary-entry-title {
  font-size: x-large;
  font-weight: bold;
}
.diary-entry-summary {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}
.note {
  background-color: var(--overlay);
  color: var(--bg);
  padding: 1rem;
  border-bottom: 2px dotted var(--bg);
}
.note:last-child {
  border-bottom: 0;
}
.note > .p-content {
  display: block;
}
.note > .u-url {
  display: inline-block;
  font-size: smaller;
  font-style: italic;
}
