@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 5%;
  font-size: 9pt;
  background-color: var(--bg);
  color: var(--fg);
  overflow: hidden;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: var(--a);
}
blockquote::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #181c3085;
  position: absolute;
  top: 0;
  left: -2em;
}
blockquote {
  position: relative;
  font-style: italic;
  color: #181c30cc;
}
.t3t3,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "t3t3", monospace;
}

#main {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 5%;
}
#sidebar {
  height: fit-content;
  font-family: "t3t3", monospace;
}
#sidebar ul {
  list-style: none;
  padding-inline-start: 0;
}
#sidebar ul li {
  padding-inline-start: 1em;
}
#theme-credits {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
#theme-credits > div {
  background-color: var(--overlay);
  color: var(--bg);
  padding: 1rem;
}
#theme-credits > div > h3,
#theme-credits > div > h5 {
  margin: 0;
}
#theme-credits > div > div,
#theme-credits > div > a {
  font-family: "Montserrat", sans-serif;
}
#content {
  padding: 2em;
  flex-grow: 1;
  max-height: 90%;
  overflow-y: auto;
}
#top-header {
  margin-top: 0;
  font-weight: normal;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.subtitle {
  font-size: smaller;
  font-style: italic;
}
article footer {
  font-weight: bold;
}
article footer img {
  width: 16px;
}
.overlay-container {
  background-color: var(--overlay);
}

.example {
  border: 1px solid var(--fg);
  padding: 0.25rem;
  font-size: x-large;
}

@font-face {
  font-family: "t3t3";
  src: url("/static/fonts/t3t3.woff2") format("woff2"),
    url("/static/fonts/t3t3.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* layout for different screen sizes */

@media screen and (max-width: 640px) {
  #main {
    flex-direction: column;
    align-items: start;
  }
  #content {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  #main {
    flex-direction: row;
    align-items: center;
  }
  #content {
    width: 40%;
  }
}

/* universe.css */
.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.btn {
  display: inline-block;
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.mood {
  display: flex;
  gap: 1ch;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: bold;
}

.mood > a {
  height: 15px;
}

#drilly {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 74px;
  image-rendering: pixelated;
  transition: 100ms linear;
}
#drilly.drilly-hidden {
  bottom: -74px;
}
