extends site.pug

block append head
  link(rel="stylesheet", href="../static/css/universe.css")

block append content
  #btns
    p.subtitle
      | If you need/want a button added, changed, or removed, contact me on&nbsp;
      a(href="https://neocities.org/site/hoylecake") my Neocities profile
      | .
    for buttonGroup in data
      .btn-group
        for button in buttonGroup
          .btn
            a(href=button.l)
              img(src=`/static/img/btns/${button.i}`,alt=button.t,title=button.t)
    a.subtitle(href="https://poignant.guide/book/chapter-7.html")
      | CHECK THAT OUT!&nbsp;
      strong YAH!