extends site.pug

block append head
  //- Drilly stuff
  link(rel="preload", href="../static/sound/drilly/hello.mp3", as="audio")
  link(rel="preload", href="../static/img/drilly/yapping.gif", as="image")

block append content
  #btns
    p.subtitle
      | If you need/want a button added, changed, or removed, contact me on&nbsp;
      a(href="https://neocities.org/site/hoylecake") my Neocities profile
      | .
    for buttonGroup in data
      .btn-group
        for button in buttonGroup
          .btn
            a(href=button.l)
              img(src=`/static/img/btns/${button.i}`,alt=button.t,title=button.t,width=88,height=31)
    a.subtitle(href="https://poignant.guide/book/chapter-7.html")
      | CHECK THAT OUT!&nbsp;
      strong YAH!