extends site.pug

block append head
  link(rel="stylesheet", href="../static/css/universe.css")

block append content
  #btns
    p.subtitle
      | If you need/want a button added, changed, or removed, contact me on my Neocities profile. Link above...
    for buttonGroup in data
      .btn-group
        for button in buttonGroup
          .btn
            a(href=button.l)
              img(src=`/static/img/btns/${button.i}`,alt=button.t,title=button.t)
    p.subtitle
      | CHECK THAT OUT!&nbsp;
      strong YAH!