extends site.pug

block append head
  link(rel="stylesheet", href="../static/css/diary.css")

block append content
  for post in data
    .diary-entry
      .diary-entry-title
        a(href=`./${post.title}.html`)= post.title
      .diary-entry-summary= post.summary
